# Local configs and env files
.c*
.g*
.env
!.github/
!.github/workflows/
!.github/workflows/*.yml
.DS_Store

# Local doucmentation
documentation/
docs/*/

# Prevention of environment files from being pushed
pro*/

# Node modules
node_modules/

# Local development and testing
dist/
dev-dist/

# Local testing and code coverage
coverage/
playwright-report/
test-results/
*.local

# API server database and its daily snapshots
server/data/

# Vercel web application
.vercel/
